node_modules
.git
.env
.vscode
.DS_Store
storage/*.log
storage/framework/sessions
storage/framework/cache
storage/framework/views
tests
.phpunit.result.cache
docker-compose.yml
Dockerfile
.gitignore
README.md
*.sqlite
*.log
.idea/